:root {
    --light: #eae7dc;
    --brown: #d8c3a5;
    --muted: #838d8a;
    --lightred: #e98074;
    --red: #e85a4f;

    --radius: 8px;
    --margin: 15px;
    --border-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: "Noto Sans Georgian", sans-serif;
    min-height: 100vh;
    /* background-color: var(--light); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold !important;
}

.second-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-content p {
    margin: 0;
}

.second-content .top-btns {
    display: flex;
    gap: 12px;
}

.second-content .btn {
    display: flex;
    gap: 10px;

}

textarea {
    resize: none;
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    border-radius: var(--radius);
    padding: 5px 10px;
    margin-top: var(--margin);
    border: solid 1px var(--border-color);
    transition: 0.5s;
}

textarea:focus {
    border: solid 1px rgba(0, 0, 0, 0.8);
    outline: none;
}

.ge {
    cursor: text;
    background-color: rgba(0, 0, 0, 0.05);
}

.ge .copy {
    opacity: 0.5 !important;
}

.text-3{
    color: #333333 !important;
}

.copy-parent {
    position: relative;
}

.copy {
    position: absolute;
    top: 25px;
    right: 10px;
    opacity: 0.1;
    transition: 0.3s;
}

.copy-parent:hover .copy {
    opacity: 1 !important;
}

button {
    font-weight: 600 !important;
    max-height: 36px;
}

b {
    margin-right: var(--margin);
}

.foot {
    display: flex;
    justify-content: space-between;
}

.stats {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .foot {
        flex-direction: column;
    }

    .foot .copyright {
        margin: var(--margin) 0;
    }
}

@media screen and (max-width: 991px) {
    .stats {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 360px) {
    .toper {
        flex-direction: column;
    }

    .top-btns {
        text-align: right;
    }
}

a {
    color: #3e3f3a;
}

a:hover {
    color: #000;
}